<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><i class="glyphicon glyphicon-cog"></i> <a
				href="/admin/admin">{$title}</a></li>
			<li class="active"><i class="glyphicon glyphicon-calendar"></i> {$navname} </li>
		</ol>
	</div>
</div>

<div class="gb20">
	<button id="button-add" type="button"
		class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
		aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
	</button>
</div>
<div class="row gb20">
	<form action="/admin/content/index" method="get">
		<div class="col-md-3">
			<div class="input-group">
				<span class="input-group-addon">栏目</span> 
				<select class="form-control" name="catid">
					<option value=''>全部分类</option>
					<volist name="menus" id="menu">
						<option value="{$menu.menu_id}" <if condition = "$_GET[catid]">selected</if> >{$menu.name}</option>
					</volist>
				</select>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="input-group">
				<input class="form-control" name="title" type="text" value="{$_GET['title']}" placeholder="文章标题" /> 
				<span class="input-group-btn">
					<button id="sub_data" type="submit" class="btn btn-primary">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<form id="listorder" class="gb20">
				<table class="table table-bordered table-hover table">
					<thead>
						<tr>
							<th><input type="checkbox" name="check_all" id="check_all" /></th>
							<th width="14">排序</th>
							<th>id</th>
							<th>标题</th>
							<th>栏目</th>
							<th>来源</th>
							<th>封面图</th>
							<th>时间</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<Foreach name='news' item='new'>
						<tr>
							<td><input type="checkbox" name='check_item' value="{$new.news_id}" /></td>
							<td><input size=4 type='text' name='listorder[{$new.news_id}]' value="{$new.listorder}" /></td>
							<td>{$new.news_id}</td>
							<td>{$new.title}</td>
							<td>{$new.catid|getCat=$menus,###}</td>
							<td>{$new.copyfrom|getCopyFrom}</td>
							<td><img src="{$new.thumb}" width="48px" alt="" /></td>
							<td>{$new.create_time|date='Y-m-d H:i:s',###}</td>
							<td class="status status_{$new.news_id}" data-id="{$new.news_id}" data-status=<if condition="$new.status eq 0">"1"<else/>"0"</if> >{$new.status|getStatus}</td>
							<td>
								<a href="/admin/content/add?id={$new.news_id}" title="编辑" class="glyphicon glyphicon-edit tp-edit"></a> 
								<a href="javascript:void(0)" class="tp-delete" data-id="{$new.news_id}" title="删除"> 
									<span class="glyphicon glyphicon-remove-circle" ></span>
								</a>
							</td>
						</tr>
						</Foreach>
					</tbody>
				</table>
				
				<button id="button-orderlist" type="button" class="btn btn-primary dropdown-toggle">
					<span class="glyphicon glyphicon-plus"></span>添加排序
				</button>
			</form>
			<!-- 推荐位 -->
			<div class="col-md-3 form-inline">
				<select class="form-control" name="pushselect">
					<option value=''>请选择推荐位</option>
					<volist name="positions" id="position">
					<option value="{$position.id}">{$position.name}</option>
					</volist>
				</select>
				<button type='button' id="push-button" class="btn btn-primary">推送</button>
			</div>
			<!--End推荐位 -->
			<div class='text-right'>
				<ul class="pagination">
					{$pagination}
				</ul>
			</div>
		</div>
	</div>

</div>
<script>
(function($){
	$(function(){
		// 添加文章
		$("#button-add").on('click',function(e){
			e.preventDefault();
			location.href="/admin/content/add";
		});
		
		// 删除文章
		$('.tp-delete').on('click',function(e){
			e.preventDefault();
			var id = $(this).data('id');
			var url = '/admin/content/delete';
			var data = {}; 
			data['id'] = id;
			data['status'] = -1;
			dialog.confirmBack('是否确定删除',changeStatus,[url,data]);
			
		});
		// 文章列表更改状态
		$('.status').on('click',function(){
			var $this=$(this);
			var id = $this.data('id');
			var status = $this.data('status');
			var data = {};
			data['id'] = id;
			data['status'] = status;
			var url = '/admin/content/delete';
			
			dialog.confirmBack('是否确定更新状态',changeStatus,[url,data]);
		});
		
		// 状态改变
		function changeStatus(url,data){
			$.post(url,data,function(result){
				if(result.status==1){
					if(result.data==1){
						dialog.toconfirm(result.msg);
						var str = data['status']==1?'正常':'关闭';
						var status = data['status']==1?0:1;
						$('.status_'+data['id']).text(str).data('status',status);
						console.log($('.status_'+data['id']).data('status'));
					}else{
						dialog.success(result.msg,'/admin/content/index');
					}
				}else{
					if(result.data==1){
						dialog.error(result.msg);
					}else{
						dialog.error(result.msg,'/admin/content/index');
					}
				}
			},'json');
		}
		
		// 添加排序
		$('#button-orderlist').on('click', function(e){
			e.preventDefault();
			var str = $("form#listorder").serialize();
			$.post('/admin/content/listorder',{'data':str},function(result){
				if(result.status==1){
					dialog.success(result.msg,'/admin/content/index');
				}else{
					dialog.error(result.msg,'/admin/content/index');
				}
			},'json');
		});
		
		// 推荐位checkbox全选
		$("#check_all").on('click',function(){
			var $item = $('input[name="check_item"]');
			$item.prop('checked',$(this).prop('checked'));
		});
		
		// 推荐位checkbox item全选
		$('input[name="check_item"]').on('click',function(){
			$('input[name="check_item"]').each(function(key,item){
				var $all = $("#check_all");
				if(!$(item).is(':checked')){
					$all.prop("checked",false);
					return false;
				}
				$all.prop("checked",true);
			});
		});
		
		// 单击推送按钮
		$("#push-button").on('click',function(){
			var check_v = $('input[name="check_item"]').map(function(key,item){
				if($(item).is(":checked")){
					return $(this).val();	
				}
			}).get();
			var push_id = $('select[name="pushselect"]').val();
			// 条件判断
			if(check_v.length==0){
				dialog.error('请选择文章');
				return false;
			}
			if(!$.isNumeric(push_id)){
				dialog.error('请选择推荐位');
				return false;
			}
			// ajax 调用
			var data = {'check_v':check_v,'position_id':push_id};
			var url = '/admin/content/push';
			$.post(url,data,function(result){
				if(result.status==1){
					dialog.success(result.msg,result['data']['jump_url']);
				}else{
					dialog.success(result.msg);
				}
			},'json');
		});
	});
})(jQuery);
</script>